// Logo components
.logo {
  height: 3.25rem;
}

// search box components
.search {
  &__input {
  }

  &__button {
  }

  &__icon {
    height: 2rem;
    width: 2rem;
  }
}

// user nav components
.user-nav {
  &__icon-box {
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
  }

  &__notification {
  }

  &__user {
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }

  &__user-name {
  }
}
